　<div class="container">
  <div class="row">
    <div class="col-md-12 text-center ">
      <%= image_tag ('PF_logo.png') %>
      <h1>シェアたび(share-tabi)とは</h1>
        シェアたび(share-tabi)は、<br>
        「旅の思い出を振り返りながら、ゆるっと繋がる」をコンセプトにしたサイトです。<br>
        スクラップブックのように、旅の思い出を振り返る、それがシェアたびです。<br>

        <br>
        旅行先で撮った写真を活用したい。誰かとシェアしたい。<br>
        誰かの投稿から、通議の旅行先を探してみたい。<br>
        <br>
        なんとなく、誰かの旅行記を読んでみたい。<br>
        <br>
        たまにはひと息つきませんか。<br>
        ゆるっと、楽しんでください。
      </p>
      <%= image_tag "Top_img.jpg", size: "600x300" %>
    </div>
  </div>
</div>
　<p>
        