<h1>Admin::Endusers#show</h1>
 <table class="table">
  <thead class ="defalut">
   <tr>
    <td>会員ID</td>
    <td><%#= @enduser.id %></td>
   </tr>

    <tr>
     <td>ニックネーム</td>
     <td><%#= @enduserr.nickname %></td>
    </tr>
    
    <tr>
     <td>メールアドレス</td>
     <td><%#= @enduser.email %></td>
    </tr>

    <tr>
     <td>会員ステータス</td>
      <td>
       <%# if @enduser.is_deleted == false %>
         <p class="text-success"><%= '有効' %></p>
       <%# else %>
         <p class="text-secondary"><%= '退会' %></p>
       <%# end %>
      </td>
     </tr>
    </thead>
  </table>
 </div>

<div class="row">
 <div class="mx-auto">
  <%#= link_to "編集する",edit_admin_customer_path(@enduser.id),class: "btn btn-success" %>
  <%#= link_to "会員一覧へ",admin_endusers_path, class: "btn btn-primary" %>
 </div>
</div>

