<h2>いいね一覧</h2>
<div class="col-md-8 offset-md-1">
 <table class="table">
  <thead>
    <tr>
      <th>記事の作成日時</th>
      <th>投稿者</th>
      <th>タイトル</th>
    </tr>
  </thead>
  <tbody>
   <% @favorite_posts.each do |post|%>
    <tr>
     <td><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></td>
     <td><%= post.end_user.nickname %></td>
     <td><%= link_to post.title,public_post_path(post.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
