@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// フォント用コード
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
  font-family: "Noto Serif JP", serif !important;
}

// 新規投稿/ユーザー編集、写真プレビュー用コード
.preview {
  height: 500px;
  width: 500px;
  object-fit: contain;
}